<form action="/subscriptions/<%= board.id %>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <input class="subscribe-button" type="submit" name="commit" value="Unsubscribe!" />
</form>
